.custom-form {
    padding: 30px;
    border-radius: 10px;
    width: 400px; 
    margin: 30px auto;
    box-shadow: 0 0 10px black;
    background: linear-gradient(to bottom right, #ffffff, #d0e4f7);   
}

.custom-form label {
  color: #202d3e;
  font-weight: 600;
}
  
  .custom-form h2 {
    color: #202d3e;
    font-weight: 700;
    align-items: center;
  }
  .custom-form input {
    margin-bottom: 5px;
    padding: 8px 0; 
    width: 100%;
}

  .custom-form input::placeholder {
    font-weight: 400;
  }
  
  .custom-form p {
    font-size: 12px;
  }
  
.custom-form .button-container {
    display: flex;
    justify-content: space-between; 
    gap: 10px; 
  }
  
  
  .custom-form button {
    width: auto; 
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    color: #fff;
    font-weight: 600;
    background-color: #202d3e;
    box-shadow: 0 0 10px black;
    
  }
  
  .custom-form .btn:hover {
    background-color: #6f7986;
    color: #202d3e;
  }


  
  
  
  